.head{
    display: flex;
    justify-content: center;
}
.display-order{
    border: 2px solid;
    /* display: inline-block; */
    max-width: 20rem;
    padding: 0px;
    margin-top: 5rem;
    border-radius: 0.4rem;
    padding: 4px;
    background-color: rgb(230, 15, 15);
    /* color: red; */
}
.flex{
    /* border: 2px solid; */
    width: 100%;
  
    
    
}
.form-content{
    border: 2px solid rgb(248, 159, 159);
    border-radius: 1rem;
    margin-top: 98px;
    padding: 0.5rem;
    /* width: 120%; */
    

}
.checkout{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    width: 100%;
}
.inputBox{
    /* border: 2px solid; */
    width: 100%;
    padding: 8px;
}
.inputBox input{
    width: 100%;
    padding: 4px;
    border-radius: 0.3rem;
    border: 2px solid;
}
h3{
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
}
.button [type="submit"]{
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(190, 20, 20);
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}
.button [type="submit"]:hover{
    background-color: rgb(249, 4, 4);
}

